

<!-- Navigation -->
<nav class="w-full max-w-4xl mb-6">
  <ul class="flex justify-center gap-10 text-blue-700 text-sm md:text-base">
    <li><a [routerLink]="''" class="hover:underline">Home</a></li>
    <li><a [routerLink]="'about'" class="hover:underline">About</a></li>
  </ul>
</nav>

<!-- Header -->
<header class="text-3xl md:text-5xl text-blue-600 drop-shadow-lg mb-10">
  🟫 EdgarWalls 🟫
</header>

<router-outlet/>

<!-- Footer -->
<footer class="w-full text-center mt-10 text-sm text-gray-500 py-4">
  🟫 Build with Love and Angular
</footer>
